footer.footer.footer--fixed
  ul.footer__links
    li
      a(href='http://blog.fgribreau.com/') Blog
    li
      a(href='http://www.doyoubuzz.com/francois-guillaume-ribreau') CV / Bio
    li
      a(href='https://twitter.com/FGRibreau') Twitter
    li
      a(href='https://www.linkedin.com/in/francoisguillaumeribreau/') LinkedIn
    li
      a(href='https://github.com/fgribreau') Github
    li
      a(href='mailto:contact.site@fgribreau.com') Email

  span.footer__copyright 
