header.header.header--fixed
  ul.header__links
    li
      a(href='https://blog.fgribreau.com/' rel="me") Blog
    li
      a(href='https://www.francois-guillaume-ribreau.com/' rel="me") CV / Bio
    li
      a(href='https://twitter.com/FGRibreau' rel="me") Twitter
    li
      a(href='https://www.linkedin.com/in/francoisguillaumeribreau/' rel="me") LinkedIn
    li
      a(href='https://github.com/fgribreau' rel="me") Github
    li
      a(href='https://join.slack.com/t/fgribreau/shared_invite/zt-edpjwt2t-Zh39mDUMNQ0QOr9qOj~jrg' rel="me") Communauté Slack
    li
      a(href='mailto:contact.site@fgribreau.com') Email

  span.header__copyright 
