//- nav.nav
//-   .nav__brand <a href="/">FGRibreau</a>
//-   ul.nav__tabs
//-     li
//-       a(href='/#a') A
//-     li
//-       a(href='/#b') b
//-     li.nav__tab--rwd.nav__tab--main
//-       a(href='/c') C
