/* variables*/
$paragraph-top-margin: 29px;
$large-block-width: 130%;
$large-block-margin-left: -15%;

body, blockquote, dd, dl, figure, form, h1, h2, h3, h4, h5, h6, menu, ol, p, pre, ul {
    margin: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}

body {
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
}
a {
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}
h1 {
    padding-top: 56px;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

h1 a{
  background: none;
}

h2 {
    margin-top: 46px;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-left: -2.25px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

h3 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    letter-spacing: -.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    margin-left: -1.75px;
    line-height: 1.22;
    letter-spacing: -.022em;
    margin-top: 30px;
    color: rgba(0,0,0,.44);
}

p{
    margin-top: $paragraph-top-margin;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-bottom: 0;
}
strong {
    font-weight: 700;
}
h3 + p {
    margin-top: 12px;
}
h4 + p {
    margin-top: 10px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $paragraph-top-margin;
}

ul >li:before{
  padding-top: 3px;
  font-size: 16.8px;
  font-size: 14.4px;
  font-size: 11.42px;
  padding-top: 4px;
  padding-right: 15px;
  content: '\2022';
}

li{
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  -webkit-hyphens:auto;
  -webkit-hyphenate-limit-before:2;
  -webkit-hyphenate-limit-after:3;
  -webkit-hyphenate-limit-lines:2;
  margin-left:30px;
  margin-bottom:14px;
}

ul ul {
  margin-left:30px;
  margin-bottom: 14px;
}

li:last-child{margin-bottom:0}

pre{
  overflow: auto;
  margin-top: $paragraph-top-margin;
}

p + center > img,
p + img{
  margin-top: $paragraph-top-margin;
}
