#header-wrapper {
  text-align: center;
  height: 300px;
}

#header-wrapper h1 a {
  background: none;
  color: #333;
}

#header-wrapper .title {
  margin: 0;
  padding: 80px 0 0 0;
  font-weight: 100;
  line-height: 1;
  font-size: 3rem;
  text-decoration: underline;
  font-family: cursive;
}

#header-wrapper .descriptionwrapper {
  font-family: sans-serif;
  margin-top: 25px;

  a {
    display: inline-block;
    margin-right: 0;
    background: none;
    font-size: 16px;
    color: #545353;
  }

  iframe#twitter-widget-0 {
    vertical-align: middle;
    margin-top: 5px;
  }
}

#header-wrapper a:hover {
  text-decoration: underline;
  color: #000;
}
