.blog-pager.post-bottom{
  margin-top:2rem;
  position: relative;
}

.blog-pager.post-bottom,
.blog-pager.post-bottom > a{
  height: 30px;
}


.blog-pager.post-bottom > a{
  border-radius: 20px;
  font-size: 33px;
  padding: 9px 29px;
  color: #8C93A0;
  border: solid 1px #DCDDE0;
  background: #fff;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: inline-block;
  line-height: 27px;
}


.blog-pager-newer-link,
.blog-pager-older-link{
  position: absolute;
  top:0px;
}

.blog-pager-newer-link{
  left:0px;
}


.blog-pager-older-link{
  right:0px;
}
