/* post header */

.status-msg-wrap {
  margin: 0;
  width: 100%;

  .status-msg-body {
    padding: 0;
  }

  .status-msg-border {
    .status-msg-bg {
      a {
        background-image: none;
      }
    }
  }
}

/* post */

.post.hentry {
  position: relative;
  padding-top: 30px;

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  @mixin large-block() {
    width: $large-block-width;
    margin-left: $large-block-margin-left;
    margin-top: $paragraph-top-margin;

    @media only screen and (max-width: 600px) {
      body {
        width: auto;
        margin-left: 0px;
        margin-top: 0px;
      }
    }
  }

  blockquote {
    @include large-block();
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    padding-bottom: 2px;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
      Times, serif;
  }

  h1.post-title {
    padding-top: 0;
  }

  pre,
  th,
  td {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New",
      monospace;
    font-size: 85%;
    line-height: 1.45;
  }

  pre {
    overflow: scroll;
    overflow-y: hidden;
    display: block;
    padding: 10px;
    overflow-x: auto;
    margin: 0;
  }

  /** FEAT: gist inclusion**/
  .gist,
  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    @include large-block();
  }

  table {
    @include large-block();
    background-color: #f6f8fa;
    border-radius: 3px;
    border-spacing: 0px;

    th,
    td {
      padding: 6px 6px;
      word-break: keep-all;
      text-align: left;
      border-radius: 4px;
    }

    th {
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
    }
  }

  /** FEAT: gif inclusion (giphy) **/
  img[src^="https://media.giphy.com"],
  img[src^="https://i.giphy.com/media"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;

    &:nth-of-type(even) {
      transform: rotateZ(1deg);
    }

    &:nth-of-type(odd) {
      transform: rotateZ(-1deg);
    }
  }

  /** FEAT: screenshot inclusion (flickr) **/
  img[src^="https://farm0.staticflickr.com"],
  img[src^="https://farm1.staticflickr.com"],
  img[src^="https://farm2.staticflickr.com"],
  img[src^="https://farm3.staticflickr.com"],
  img[src^="https://farm4.staticflickr.com"],
  img[src^="https://farm5.staticflickr.com"],
  img[src^="https://live.staticflickr.com"] {
    display: block;
    width: 100%;
    margin-top: $paragraph-top-margin;
    border: 4px solid #f0f0f0;
  }

  /** FEAT: Pinterest inclusion **/
  [data-pin-log="embed_pin"] {
    margin: 0 auto;
    display: block;
  }
  /** FEAT: Tweet inclusion **/
  .twitter-tweet,
  .instagram-media,
  iframe[src^="https://www.youtube.com/embed"] {
    margin: 0 auto !important;
    display: block !important;
    margin-top: 29px !important;
  }

  iframe[src^="https://www.youtube.com/embed"] {
    width: 100%;
    height: 500px;
  }

  iframe + iframe {
    margin-top: 29px;
  }
}

.date-header {
  /* extracted from p */
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  padding-top: 58px;
  display: block;
}

.post-footer {
  margin-top: 39px;
}
