.header {
  padding: 0 50px;
  width: 100%;
  bottom: 0;
  height: 10vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  color: $font-color-light;
  letter-spacing: -.15px;
  font-size: 12px;
  font-weight: 300;
}

.header__links {
  li {
    display: inline-block;
    margin-right: 15px;

    a {
      cursor: pointer;
      padding: 10px;
      color: #ccc;
      font-size: 14px;

      &:hover {
        color: $font-color-light;
      }
    }
  }
}

.header__copyright:before {
  content: '© ';
}

@media screen and (max-width: 1000px) {
  .header__copyright {
    display: none;
  }

  /* center links if width <= 900px */
  .header__links {
    margin: 0 auto;
  }
}

.header--fixed {
  position: static;
}

@media screen and (max-width: 550px) {
  .header {
    height: auto;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }

  .header__links {
    li {
      display: block;
      margin: 15px 0px 0px 0px;
    }
  }
}
