/*
v1
-------------------------------
BODY STYLES
----------------------------------*/

#navbar-iframe {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font: 14px/1.6 "Helvetica Neue", sans-serif;
  voice-family: inherit;
  text-rendering:optimizelegibility;
  color: #000;
}


code, .gist{
  margin: 0 -10px;
  padding: 10px;
  text-align: left;
  overflow: auto;
  font-family: "Courier new";

  background-color:#049cd9;
  background-image:url('./grid-18px.png');
  color: white;
  font-weight: 200;
  border-radius: 3px;
  display: block;
}

.gist{
  padding: 0;
  border-radius: 0;
  background: transparent;
}

.blog-admin{
  position:absolute;
  right:-74px;
  top:-32px;
}

/*----------------------------------------------------
BASIC HTML ELEMENTS STYLES
------------------------------------------------------*/

a:link, a:visited {
  color: #049cd9;
  font-weight:normal;
  text-decoration: none;
}

a:hover,a:active {
  /*color: #ef0050;*/
  text-decoration: underline;
}

a img {
  border-width: 0;
}


/*
#top-bg {
  width: 723px;
  height: 50px;
  margin: 30px auto 0 auto;
  background: url(http://1.bp.blogspot.com/_gpF2ywAQTzU/S0uj7JC_RcI/AAAAAAAAA4I/ithS1-wQ6LM/s1600/bg_header.png) no-repeat top center;
}
*/

/* -------------------------------
HEADER
----------------------------------*/

#menu_tabLabs {
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

    #menu_tabLabs ul {
      float:left;
    }

    #menu_tabLabs ul li {display:inline;float:left;}

    #menu_tabLabs a, #menu_tabLabs span{
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      background-color: #049cd9;
      color: #FFFFFF;
      display: block;
      font-size: 17px;
      font-weight: 200;
      letter-spacing: -0.02em;
      margin-right: 10px;
      padding: 3px 8px;
    }

    #menu_tabLabs span{
      background-color: #333333;
      color: #EEEEEE;
      text-shadow: 0 -1px 1px #333333;
    }

      #menu_tabLabs .mlr{
        margin-right:0;
        -moz-border-radius:0 0 0 5px;
        -webkit-border-radius:0 0 0 5px;
        border-radius:0 0 0 5px;
      }

      #menu_tabLabs .mll{
        -moz-border-radius:0 0 5px 0;
        -webkit-border-radius:0 0 5px 0;
        border-radius:0 0 5px 0;
      }

      #menu_tabLabs .mlc{
        margin-right:0;
        -moz-border-radius:0 0 0 0;
        -webkit-border-radius:0 0 0 0;
        border-radius:0 0 0 0;
      }

      #menu_tabLabs .mlspa{
        width:100%;
      }


    #menu_tabLabs a:hover{
      background-color: #004D9F;
      text-decoration:none;
    }

    #menu_tabLabs .menl{
      float:right;
    }

    #menu_tabLabs .menllast{
      margin-right:0;
    }



#header-wrapper {
  margin-bottom: 1.5em;
  text-align: center;
  height: 24px;
}

#header {
  float:left;
  font-family:arial;
  height:100px;
  text-align:center;
  width:100%;
}


  h1.title {
    font-style: italic;
    padding: 0.5em 0px 0.5em;
    font-family: Georgia, serif;
    color: #999;
    display:none;
  }

  h1.title a {
    border: 0px;
    color: #333;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    text-shadow: #E9E9E9 0px 2px 0px;
    /*color: #999;*/
  }

  .descriptionwrapper a{
    text-decoration:none;
    vertical-align: text-top;
    text-indent:-9000px;
  }

  .descriptionwrapper a img{
    cursor: pointer;
    -webkit-transition:padding 500ms ease-in, -webkit-transform 2s ease;
    -moz-transition:padding 500ms ease-in, -webkit-transform 2s ease;
    -ms-transition:padding 500ms ease-in, -webkit-transform 2s ease;
    transition:padding 500ms ease-in, -webkit-transform 2s ease;
  }

  .descriptionwrapper a:hover img{
    padding:0px 8px;
    -webkit-transform:rotate(360deg);
    -webkit-transition:padding 250ms, -webkit-transform 500ms ease;
    -moz-transform:rotate(360deg);
    -moz-transition:padding 250ms, -webkit-transform 500ms ease;
    -ms-transform:rotate(360deg);
    -ms-transition:padding 250ms, -webkit-transform 500ms ease;
    transform:rotate(360deg);
    transition:padding 250ms, -webkit-transform 500ms ease;
  }

  .descriptionwrapper iframe{
    vertical-align: text-top;
    margin-top: -1px;
    width: 215px !important;
  }

#header a:hover {
  color: #666666;
}

#header .description {
  font-size: 1em;
  color: #aaa;
}


/* -------------------------------
LAYOUT STRUCTURE
----------------------------------*/

#outer-wrapper {
  width: 770px;
  margin: 0 auto;
  clear: both;
}


#main-wrapper {
  padding-bottom: 0;
  word-wrap: break-word;  /* fix for long text breaking sidebar float in IE */
  position: relative;
}

  #avatarme{
    -moz-border-radius:   5px;
    -webkit-border-radius:5px;
    -ms-border-radius:    5px;
    -o-border-radius:     5px;
    border-radius:        5px;

    -moz-box-shadow:0 0 20px #DDDDDD, 0 0 15px #999999 inset;
    -webkit-box-shadow:0 0 20px #DDDDDD, 0 0 15px #999999 inset;
    -ms-box-shadow:0 0 20px #DDDDDD, 0 0 15px #999999 inset;
    -o-box-shadow:0 0 20px #DDDDDD, 0 0 15px #999999 inset;
    box-shadow:0 0 20px #DDDDDD, 0 0 15px #999999 inset;


    background: url("//avatars.io/twitter/fgribreau?size=large") repeat scroll 0 0 transparent;
    background-size: contain;
    height: 73px;
    left: -95px;
    width: 73px;
    position: absolute;
    margin-top: 10px;
  }

#footer-wrapper {
  padding-bottom: 40px;
  border: solid 0px #f5f5f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
  overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
}

/* -------------------------------
POSTS
----------------------------------*/
.date-header {
  display:none;
}
.post {
  margin-bottom:6em;
  position:relative;
}
.post h1 {
  font-size:41px;
  letter-spacing:-2px;
  line-height:1.2em;
  margin-bottom:0.1em;
}
.post h1 a, .post h1 a:visited, .post h1 strong {
  text-decoration: none;
  color:#252525;
}
.post h1 strong, .post h1 a:hover {
  color: #333333;
}

.post-body {
  padding: 1em 0px 1em 0px;
  color:#3C3C3C;
  font: 16px/1.5 "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
}

.post-body blockquote {
  line-height: 1.3em;
}

.post-footer {
}


.comment-link {
  margin-left: .6em;
}
.post img {
  padding: 4px;
  background: #E1E1E1;
  border: 1px solid #CCC;
}
.post blockquote {
  font-style: italic;
  margin: 10px;
  border-left: 4px solid #CCC;
  padding-left: 15px;
}
.post blockquote p {
}
.jump-link {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100px;
  text-align: center;
  background: #E1E1E1;
  font-size: 11px;
  margin-bottom: 20px;
}
.jump-link a {
  color: #333;
}

.post-body ol, .post-body li{
  list-style-position:inside;
}
.post-body li {
  margin:0;
}

.post-body li + ul {
  margin-left:15px;
}

.post-body ul + ul {
  margin-left: 30px;
}

.post-footer a.comment-link{

  background:url("http://fgribreau.com/blog/icons/react.png") no-repeat scroll 95% 54% #FEFEFE;
  color:#0099CC;
  float:right;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0.05em;
  padding:5px 26px 1px 10px;
}

.blog-pager {
  text-align: center;
  overflow:visible;
}

  .blog-pager.header-nav{position:relative;}

  .blog-pager a{
    display:block;
  }

  .blog-pager a span{
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    background-color:#F0F0F0;
    color:#FFFFFF;
    display:block;
    font-size:60px;
    height:45px;
    line-height:40px;
    padding:0 10px;
    text-align:center;
    width:30px;


  }

    .blog-pager a{-webkit-transition:all 250ms ease;transition:all 250ms ease;}
    .blog-pager a:hover{-webkit-transition:all 250ms ease;transition:all 250ms ease;}

    .blog-pager  a:hover{
      text-decoration:none;
    }

    .blog-pager-newer-link {
      float: left;
    }

      .header-nav .blog-pager-newer-link,
      .header-nav .blog-pager-older-link{
        background-color:#FFFFFF;
        color:#E0E0E0;
        font-size:5em;
        height:80px;
        line-height:80px;
        padding-left:5px;
        padding-right:5px;
        position:absolute;
        top: 90px;
      }

      .header-nav .blog-pager-newer-link{
        left:-85px;
        text-shadow:-1px 0 1px #555555;
      }

        .blog-pager-newer-link:hover{
          padding-right:26px;
          left:-105px;
        }


    .blog-pager-older-link {
      float: right;
    }

      .header-nav .blog-pager-older-link{

        right:-85px;
        text-shadow:0 0 1px #555555;
      }

        .blog-pager-older-link:hover{
          padding-left:26px;
          right:-106px;
        }

  @-webkit-keyframes 'rotateBtn' {
    0% {
      -webkit-transform:rotateX(0deg);
    }

    50% {
      -webkit-transform:rotateX(180deg);
    }

    100% {
      -webkit-transform:rotateX(360deg);
    }
  }

  @-moz-keyframes 'rotateBtn' {
    0% {
      -moz-transform:rotateX(0deg);
    }

    50% {
      -moz-transform:rotateX(180deg);
    }

    100% {
      -moz-transform:rotateX(360deg);
    }
  }

      .blog-pager.post-bottom{
        height: 45px;
      }

      .blog-pager.post-bottom:hover a span{
        -webkit-animation:rotateBtn 3s ease-out 0s infinite;
        -moz-animation:rotateBtn 3s ease-out 0s infinite;
      }

.feed-links {
  clear: both;
  line-height: 2.5em;
}

/* -------------------------------
FOOTER
----------------------------------*/
.footer{
  font-size:0.9em;
  margin:1%;
  padding:5px 2%;
  width:45%;
  float:left;
}


#footer-l {
  margin-right: -1px;
  border-right: #eee 1px solid;
}

  .BlogArchive a{
    color:#333333;
  }
    .BlogArchive .posts a{
      color:#0099CC;
      display: block;
    }

  .BlogArchive #ArchiveList ul li{
    color:#878787;
  }

#footer-r {

  margin-left: 0px;
  border-left: #ee 1px solid;
}

  .tagcloud, #references{
    font-size:28px;
    margin:10px 0 20px;
    text-align:justify;
    line-height: 0.9;
  }

  .tagcloud a{
    display:inline;
    vertical-align:middle;
    -webkit-transition:all 5s ease-out;
  }


  .tagcloud a.tag100{
    font-weight:bold;
    color:rgba(0, 153, 204, 1);
  }

  .tagcloud a.tag85{
    font-size:90%;
    font-weight:bold;
    color:rgba(0, 153, 204, 1);
  }

  .tagcloud a.tag75{
    color:rgba(0, 153, 204, 0.8);
    font-size:75%;
  }

  .tagcloud a.tag65{
    color:rgba(0, 153, 204, 0.7);
    font-size:36%;
  }

  .tagcloud a.tag1{
    /*color:rgba(0, 153, 204, 0.6);
    font-size:26%;*/
    display:none;
  }

  .tabcloud:hover{
  }

  .tagcloud:hover a{
    -webkit-transition:color 2s ease-in;
  }

  .tagcloud a:hover{
    color:#333333;
    -webkit-transition:color 50ms ease-in;
    text-decoration:none;
  }

  #references{text-align:center;}


.footer ul {
  list-style: none;
  margin: 0 0 0;
  padding: 0 0 0;
}
.footer li {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: .25em;
  padding-left: 15px;
  text-indent: -10px;
  line-height: 1.5em;
}
.footer .widget {
  margin: 0px 0px 20px 0px;
}
.footer .widget-content {
  margin: 10px 0px 20px 0px;
}
#footer-wrapper h2 {
  font-weight: bold;
  padding: 3px 10px;
  font-size: 1em;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #878787;
  border-radius: 4px;
}
.main .Blog {
  border-bottom-width: 0;
}



#copy {
  color: #aaa;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
  vertical-align: middle;
  height: 40px;
  word-spacing: 0.2em;
  background: url('http://fgribreau.com/blog/bg.png') repeat-x;
  border-top: 1px solid #DDD;
}

  #copy a, #copy a:link{
    color:#EF7E68;
    border: 0;
    vertical-align:top;
  }

  #copy:hover a{
    font-size: 4em;
    vertical-align: middle;
    color:#FF1F1F;
    text-decoration:none;
  }

/* Liens */
a{-webkit-transition:all 1s ease;-ms-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
a:hover{-webkit-transition:all 1s ease;-ms-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}

.post-body a[href ^="http://github.com/"]{
  background:url("http://fgribreau.com/blog/txt.png") no-repeat scroll 0 50% transparent;
  padding:2px 2px 2px 19px;
  margin-right:1px;
}

.post-body a[href ^="http://github.com/"]:after{
  content:' »';

}

/* Special */
.status-msg-wrap{
  border-bottom:1px solid #DDDDDD;
  font-size:110%;
  margin:0 auto 2em;
  padding-bottom:1em;
  position:relative;
  width:100%;
}
.status-msg-border{border:0px;}
.status-msg-bg {background-color:transparent;}


a.twitter-follow-button {color:#ffffff;}

.zippy{display: none;}
