doctype html
html(lang='fr')
  block vars
  include /_includes/head.pug

  body(class=frontPage?'js-home':'')
    include /_includes/header.pug
    block content

    script(src='/js/app.js', charset='utf-8')
    img(alt='http://bit.ly/1II1u5L', src='https://www.linkedin.com/profile/view?id=ADEAAAD-U-YBUJhIOjVubFdAQfhAbv9aALER31A&amp;authType=name&amp;authToken=VfEu', style='display:none')
